<nav
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light justify-content-between"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Student module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/student/profile')"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#">Tests </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/student/results')"
          >Results
        </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div *ngIf="logged; else other_content">
      <button [disabled]="phaseSolving" class="btn rounded-btn" (click)="logout()">Sign out</button>
    </div>
    <ng-template #other_content>
      <button class="btn rounded-btn" type="submit" (click)="login()">
        Log in
      </button>
    </ng-template>
  </form>
</nav>
<!--Navbar end-->
<br />
<div *ngIf="phaseSolving">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h3>{{ test.name }}</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Question {{ questionCounter }}</h5>
          <p class="card-text">
            {{ currentQuestion.text }}
          </p>
          <div *ngIf="currentQuestion.type.id == 1">
            <div *ngFor="let answer of currentQuestion.answers; let i = index">
              <br />
              <div class="card-text">
                <div class="form-group row">
                  <div class="form-check answer-field">
                    <input
                      class="form-check-input answer-field"
                      type="checkbox"
                      [(ngModel)]="
                        testAnswers[questionCounter - 1].answer[i].givenAnswer
                      "
                      id="defaultCheck_'{{ answer.id }}'"
                    />
                    <label
                      class="form-check-label answer-field"
                      for="defaultCheck_'{{ answer.id }}'"
                    >
                      {{ answer.text }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="currentQuestion.type.id == 2">
            <br />
            <div class="form-group">
              <textarea
                placeholder="Type answer here..."
                class="form-control"
                rows="10"
                [(ngModel)]="testAnswers[questionCounter - 1].answer"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            *ngIf="questionCounter != 1"
            (click)="previousQuestion()"
            class="btn rounded-btn btn-proceed"
          >
            Previous
          </button>
          <button
            *ngIf="questionCounter != test.questions.length; else finishBtn"
            (click)="nextQuestion()"
            class="btn rounded-btn btn-proceed float-right"
          >
            Next
          </button>
          <ng-template #finishBtn>
            <button
              class="btn rounded-btn btn-proceed float-right"
              (click)="finishTest()"
            >
              Finish
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!phaseSolving">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h3>Result - {{ test.name }}</h3>
        </div>
        <div class="card-body text-center">
          <div class="card-text" *ngIf="!wait; else waitTemplate">
            <span class="reportMsg">
              <p>Correct answers</p>
              <span [ngStyle]="{ color: 'limegreen' }">
                {{ simpleReport.correctAnswers }}
              </span>
              / {{ simpleReport.questions }}
            </span>
            <br />
            <div *ngIf="essayQuestionsExist; else noEssayQs">
              <span class="reportMsg">
                <span [ngStyle]="{ color: 'gold' }">
                  {{ simpleReport.essayQuestions }}
                </span>
                question must be manually checked
              </span>
              <hr />
              <span class="reportMsg">
                <p>Max potential success rate</p>
                <p [ngStyle]="{ color: 'dodgerBlue' }">
                  {{
                    ((simpleReport.correctAnswers +
                      simpleReport.essayQuestions) /
                      simpleReport.questions) *
                      100 | number: "1.0-2"
                  }}
                  %
                </p>
              </span>
            </div>
            <ng-template #noEssayQs>
              <hr />
              <span class="reportMsg">
                <p>Success rate</p>
                <p [ngStyle]="{ color: 'dodgerBlue' }">
                  {{
                      simpleReport.correctAnswers /
                      simpleReport.questions *
                      100 | number: "1.0-2"
                  }}
                  %
                </p>
              </span>
            </ng-template>
          </div>
          <ng-template #waitTemplate>
            <div class="card-text">
              <span class="reportMsg">
                Please wait...
              </span>
            </div>
          </ng-template>
        </div>
        <div class="card-footer text-center">
          <button
            *ngIf="questionCounter != 1"
            (click)="close()"
            class="btn rounded-btn"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
