<div
  [ngStyle]="{ 'background-color': color ? 'antiquewhite' : 'white' }"
  id="background"
>
  <button
    class="btn btn-success"
    style="position: absolute"
    [ngStyle]="{
      left: currentQuestion.btnNextElement.levo * 100 + '%',
      top: currentQuestion.btnNextElement.top * 100 + '%'
    }"
  >
    Next
  </button>
  <button
    class="btn btn-success"
    style="position: absolute"
    [ngStyle]="{
      left: currentQuestion.btnPreviousElement.levo * 100 + '%',
      top: currentQuestion.btnPreviousElement.top * 100 + '%'
    }"
  >
    Previous
  </button>

  <div
    *ngFor="let te of currentQuestion.textElements; let i = index"
    class="text"
    style="position: absolute"
    [ngStyle]="{
      top: te.top * 100 + '%',
      left: te.levo * 100 + '%'
    }"
  >
    <span
      [ngStyle]="{ 'background-color': color ? 'burlywood' : 'white' }"
      *ngFor="let line of te.textLines"
    >
      {{ line.text }}
      <br />
    </span>
  </div>

  <div *ngFor="let title of currentQuestion.titleElements">
    <div
      class="title"
      style="position: absolute"
      [ngStyle]="{
        top: title.top * 100 + '%',
        left: title.levo * 100 + '%'
      }"
    >
      <h1 [ngStyle]="{ 'background-color': color ? 'burlywood' : 'white' }">
        {{ title.titleText }}
      </h1>
    </div>
  </div>

  <div
    *ngFor="let ae of currentQuestion.answerElements; let i = index"
    class="answer"
    style="position: absolute"
    [ngStyle]="{
      top: ae.top * 100 + '%',
      left: ae.levo * 100 + '%'
    }"
    class="form-check"
  >
    <input
      class="form-check-input"
      type="checkbox"
      (click)="preventDefault($event)"
      [(ngModel)]="regionShowBools[i]"
    />
    <label class="form-check-label">
      {{ ae.text }}
    </label>
  </div>

  <div
    *ngFor="let textArea of currentQuestion.textAreaElements"
    style="position: absolute"
    [ngStyle]="{
      top: textArea.top * 100 + '%',
      left: textArea.levo * 100 + '%'
    }"
  >
    <textarea
      [rows]="textArea.redova"
      [cols]="textArea.kolona"
      type="text"
      class="form-control"
      [placeholder]="textArea.placeholder"
      [(ngModel)]="regionShowTextArea"
    ></textarea>
  </div>

  <div
    *ngFor="let ie of currentQuestion.imageElements"
    style="position: absolute"
    [ngStyle]="{
      top: ie.top * 100 + '%',
      left: ie.levo * 100 + '%'
    }"
  >
    <img [src]="ie.imgURL" alt="img" />
  </div>
</div>
<canvas #canvas id="canvas" width="0" height="0"> </canvas>

<div
  class="btn-group"
  role="group"
  style="position: absolute; top: 0%; right: 0%"
  cdkDrag
  cdkDragBoundary="#background"
>
  <button id="btn-move" type="button" class="btn btn-dark btn-strip">
    &nbsp;&nbsp;&nbsp;
  </button>
  <!-- <button
    type="button"
    class="btn btn-secondary add-btn btn-strip"
    (click)="getCSVFile()"
  >
    CSV file
  </button> -->
  <button
    type="button"
    class="btn btn-secondary add-btn btn-strip"
    data-toggle="modal"
    data-target="#regionSequenceModal"
  >
    Region sequence
  </button>
  <button
    type="button"
    class="btn btn-secondary add-btn btn-strip"
    (click)="previousQuestion()"
    [disabled]="questionNum == 1"
  >
    Previous
  </button>
  <button
    type="button"
    class="btn btn-secondary add-btn btn-strip"
    (click)="nextQuestion()"
    [disabled]="questionNum == test.questionElements.length"
  >
    Next
  </button>
  <button type="button" class="btn btn-dark add-btn btn-strip" (click)="back()">
    Back
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="regionSequenceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Region sequence - Question {{ questionNum }}
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngFor="let str of regionsSequenceInfo; let i = index">
          Visit {{ i + 1 }}
          <br />
          {{ str }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-btn" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
