#main-navbar {
    background-color: #4e5253 !important;
}

.rounded-btn{
    -webkit-border-radius: 50px;
            border-radius: 50px;
    color: rgba(255,255,255,0.8);
    background: #227391;
    border: 1px solid rgba(255,255,255,0.8);
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px;
}

.rounded-btn:hover {
    background-color: #31acd8 !important;
}
.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
    color: rgba(255,255,255,1) !important;
    border: 2px solid rgba(255,255,255,1) !important;
    outline: none !important;
}

.btn-proceed {
    border: 1px solid lightgrey !important;
    background: #3d9c26 !important;
}

.btn-proceed:hover {
    background-color: #2cca4e !important;
}

.cell {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.cell:hover {
    background-color: lightblue;
}
