@import "./../teacher-test-new/teacher-test-new.component.scss";

.cell {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.cell:hover {
    background-color: lightblue;
}