<nav
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark justify-content-between"
  *ngIf="list"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Teacher module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/profile')"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#">Tests </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/results')"
          >Results
        </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div *ngIf="logged; else other_content">
      <button class="btn rounded-btn" (click)="logout()">Sign out</button>
    </div>
    <ng-template #other_content>
      <button class="btn rounded-btn" type="submit" (click)="login()">
        Log in
      </button>
    </ng-template>
  </form>
</nav>
<nav
  *ngIf="!list"
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light justify-content-between"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Student module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="pass($event)"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#">Tests </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="pass($event)">Results </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div *ngIf="logged; else other_content">
      <button class="btn rounded-btn" (click)="pass($event)">Sign out</button>
    </div>
    <ng-template #other_content>
      <button class="btn rounded-btn" type="submit" (click)="pass($event)">
        Log in
      </button>
    </ng-template>
  </form>
</nav>
<!--Navbar end-->
<br />
<div *ngIf="list" class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header text-center">
        <h3>{{ test.name }}</h3>
      </div>
      <div class="card-body">
        <div
          class="col"
          *ngFor="let question of test.questionElements; let i = index"
        >
          <div class="cell">
            <p
              *ngIf="question.titleElements.length > 0; else noTitle"
              class="d-inline-block"
            >
              [Q{{ i + 1 }}] {{ question.titleElements[0].titleText }}
            </p>
            <ng-template #noTitle>
              <p class="d-inline-block">[Question {{ i + 1 }}]</p></ng-template
            >
            <button
              (click)="showQuestion(question, i + 1)"
              type="button"
              class="btn rounded-btn float-right"
            >
              View
            </button>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<div [style.visibility]="qDetails ? 'visible' : 'hidden'">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h3>{{ test.name }}</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Question {{ questionNum }}</h5>
          <p class="card-text">
            {{ question.text }}
          </p>
          <div *ngIf="question.type.id == 1">
            <div *ngFor="let answer of question.answers">
              <br />
              <div class="card-text">
                <div class="form-group row">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="defaultCheck_'{{ answer.id }}'"
                    />
                    <label
                      [ngStyle]="{
                        color: answer.correct ? 'limeGreen' : 'red'
                      }"
                      class="form-check-label"
                      for="defaultCheck_'{{ answer.id }}'"
                    >
                      {{ answer.text }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="question.type.id == 2">
            <br />
            <div class="form-group">
              <textarea
                placeholder="Type answer here..."
                class="form-control"
                rows="10"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn rounded-btn btn-proceed">Previous</button>
          <button class="btn rounded-btn btn-proceed float-right">Next</button>
        </div>
      </div>
    </div>
  </div>
  <canvas #canvas id="canvas" width="0" height="0"> </canvas>
  <div class="row buttons">
    <div class="col-md-4 offset-md-4 text-center">
      <button class="btn rounded-btn" type="button" (click)="back()">
        Back
      </button>
    </div>
  </div>
</div>
