@import "./../teacher-tests/teacher-tests.component.scss";

.form-check {
  margin-left: 3%;
}

#canvas {
border: 2px solid red;
position: fixed;
top: 0;
left: 0;
}

.row, .card, .navbar {
  overflow: hidden !important;
}

.buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 105%;;
  padding-top: 0.45%;
  padding-bottom: 0.45%;
  background-color: #3b3e3f; 
}

body, html { 
  overflow-x: hidden !important; 
  overflow-y: hidden !important;
}

#main-navbar {
  background-color: #4e5253 !important;
}

.rounded-btn{
  -webkit-border-radius: 50px;
          border-radius: 50px;
  color: rgba(255,255,255,0.8);
  background: #227391;
  border: 1px solid rgba(255,255,255,0.8);
  font-size: 14px;
  line-height: 30px;
  padding: 0 15px;
}

.rounded-btn:hover {
  background-color: #31acd8 !important;
}
.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
  color: rgba(255,255,255,1) !important;
  border: 2px solid rgba(255,255,255,1) !important;
  outline: none !important;
}

.btn-proceed {
  border: 1px solid lightgrey !important;
  background: #3d9c26 !important;
}

.btn-proceed:hover {
  background-color: #2cca4e !important;
}

.btn-proceed:focus {
  border: 1px solid rgba(255,255,255,1) !important;
}

.btn-dangerous {
  border: 1px solid lightgrey !important;
  background: #9e2525 !important;
}

.btn-dangerous:hover {
  background-color: #d32d2d !important;
}

.btn-dangerous:focus {
  border: 1px solid rgba(255,255,255,1) !important;
}

#addBtn:focus {
  border: 1px solid rgba(255,255,255,1) !important;
}

