<nav
  *ngIf="!step4 && !step22"
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark justify-content-between"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Teacher module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/profile')"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#">Tests </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/results')"
          >Results
        </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div *ngIf="logged; else other_content">
      <button class="btn rounded-btn" (click)="logout()">Sign out</button>
    </div>
    <ng-template #other_content>
      <button class="btn rounded-btn" type="submit" (click)="login()">
        Log in
      </button>
    </ng-template>
  </form>
</nav>
<nav
  *ngIf="step4"
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light justify-content-between"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Student module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="pass($event)"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#">Tests </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="pass($event)">Results </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div *ngIf="logged; else other_content">
      <button class="btn rounded-btn" (click)="pass($event)">Sign out</button>
    </div>
    <ng-template #other_content>
      <button class="btn rounded-btn" type="submit" (click)="pass($event)">
        Log in
      </button>
    </ng-template>
  </form>
</nav>
<!--Navbar end-->
<br />
<!-- Step 1 -->
<div class="row" id="step-1" *ngIf="step1">
  <div class="col-md-6 offset-md-3">
    <form name="form-1" (ngSubmit)="submitStep1()" #f="ngForm">
      <div class="card">
        <div class="card-header text-center">
          <h3>Create new test</h3>
          <h5>- Basic info -</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="testName">* Name</label>
            <input
              type="text"
              class="form-control"
              id="testName"
              name="testName"
              #testName="ngModel"
              placeholder="Enter test name"
              [(ngModel)]="test.name"
              required
            />
            <div
              *ngIf="testName.invalid && (testName.dirty || testName.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="testName.errors.required">
                Name is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="testDuration">* Duration </label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="testDuration"
                name="testDuration"
                #testDuration="ngModel"
                placeholder="Enter test duration in minutes"
                pattern="[1-9][0-9]*"
                min="1"
                step="1"
                [(ngModel)]="test.duration"
                required
              />
              <div class="input-group-append">
                <span class="input-group-text">minutes</span>
              </div>
            </div>
            <div
              *ngIf="
                testDuration.invalid &&
                (testDuration.dirty || testDuration.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="testDuration.errors.required">
                Duration is required
              </div>
              <div *ngIf="testDuration.errors.pattern">
                Duration must be positive integer
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button
            class="btn rounded-btn btn-proceed"
            type="submit"
            [disabled]="!f.valid"
          >
            Next
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Step 2 -->
<div class="row" id="step-2" *ngIf="step2">
  <div class="col-md-6 offset-md-3">
    <form name="form-2" (ngSubmit)="submitStep2()" #f2="ngForm">
      <div class="card">
        <div class="card-header text-center">
          <h3>Create new test</h3>
          <h5>- Question {{ test.questions.length + 1 }} -</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="questionTitle">* Title</label>
            <input
              type="text"
              class="form-control"
              id="questionTitle"
              name="questionTitle"
              #questionTitle="ngModel"
              placeholder="Enter question title"
              [(ngModel)]="question.name"
              required
            />
            <div
              *ngIf="questionTitle.invalid && (questionTitle.dirty || questionTitle.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="questionTitle.errors.required">
                Question title is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="questionText">* Question text</label>
            <textarea
              rows="5"
              type="text"
              class="form-control"
              id="questionText"
              name="questionText"
              #questionText="ngModel"
              placeholder="Type question text"
              [(ngModel)]="question.text"
              required
            ></textarea>
            <div
              *ngIf="
                questionText.invalid &&
                (questionText.dirty || questionText.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="questionText.errors.required">
                Question text can't be blank
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="qType">* Type</label>
            <select
              [(ngModel)]="questionType"
              class="form-control"
              id="qType"
              name="qType"
              #qType="ngModel"
              (change)="typeChange()"
              required
            >
              <option value="" disabled selected>Select question type</option>
              <option *ngFor="let type of questionTypes" [ngValue]="type.id">{{
                type.name
              }}</option>
            </select>
          </div>
        </div>
        <div class="card-footer text-center">
          <button
            class="btn rounded-btn btn-proceed"
            type="submit"
            [disabled]="!f2.valid"
          >
            Next
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Step 22 -->
<div class="row" id="step-22" *ngIf="step22">

</div>
<!-- Step 3 -->
<div class="row" id="step-3" *ngIf="step3">
  <div class="col-md-6 offset-md-3">
    <form name="form-3" (ngSubmit)="addAnswer(f3)" #f3="ngForm">
      <div class="card">
        <div class="card-header text-center">
          <h3>Create new test</h3>
          <h5>- Question {{ test.questions.length + 1 }} answers -</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="answerText">* Answer text</label>
            <textarea
              rows="3"
              type="text"
              class="form-control"
              id="answerText"
              name="answerText"
              #answerText="ngModel"
              placeholder="Type answer text"
              [(ngModel)]="answer.text"
              required
            ></textarea>
            <div
              *ngIf="
                answerText.invalid && (answerText.dirty || answerText.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="answerText.errors.required">
                Answer text can't be blank
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2">Correct</div>
            <div class="col-md-2">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="correctCB"
                  id="correctCB"
                  #correctCB="ngModel"
                  [(ngModel)]="answer.correct"
                />
                <label for="correctCB" class="custom-control-label"></label>
              </div>
            </div>
          </div>
          <button
            class="btn rounded-btn float-right"
            id="addBtn"
            type="submit"
            [disabled]="!f3.valid"
          >
            Add
          </button>
        </div>
        <div class="card-footer text-center">
          <button
            class="btn rounded-btn btn-proceed"
            type="button"
            (click)="submitStep3()"
          >
            Next
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header text-center">
        Added answers
      </div>
      <div class="card-body">
        <div *ngFor="let a of answers">
          <p 
            [ngStyle]="{ color: a.correct ? 'limeGreen' : 'red' }"
            class="d-inline-block"
          >
            {{ a.text }}
          </p>
          <button (click)="removeAnswer(a)" type="button" class="btn rounded-btn btn-dangerous float-right">X</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Step 4 -->
<div id="step-4" [style.visibility]="step4 ? 'visible' : 'hidden'">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form name="form-2" #f4="ngForm">
        <div class="card">
          <div class="card-header text-center">
            <h3>{{test.name}}</h3>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">
              Question {{ test.questions.length + 1 }}
            </h5>
            <p class="card-text">
              {{ question.text }}
            </p>
            <div *ngIf="question.type.id==1">
              <div *ngFor="let answer of question.answers">
                <br />
                <div class="card-text">
                  <div class="form-group row">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="defaultCheck_'{{answer.id}}'"
                      />
                      <label class="form-check-label" for="defaultCheck_'{{answer.id}}'">
                        {{answer.text}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="question.type.id==2">
              <br />
              <div class="form-group">
                <textarea
                  placeholder="Type answer here..."
                  class="form-control"
                  rows="10"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn rounded-btn btn-proceed">
              Previous
            </button>
            <button class="btn rounded-btn btn-proceed float-right">
              Next
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <canvas
    #canvas
    id="canvas"
    width="0"
    height="0"
    (mousedown)="canvas_click($event)"
    (mouseup)="canvas_released($event)"
    (mousemove)="canvas_move($event)"
    (mouseleave)="canvas_leave()"
  >
  </canvas>
  <div class="row buttons">
    <div class="col-md-4 offset-md-4">
      <button
        class="btn rounded-btn btn-dangerous"
        type="button"
        (click)="removeAllRegions()"
      >
        Remove all
      </button>
      &nbsp;&nbsp;&nbsp;
      <button
        class="btn rounded-btn btn-dangerous"
        type="button"
        (click)="removeLastRegion()"
      >
        Remove last
      </button>
      <button
        class="btn rounded-btn btn-proceed float-right"
        type="button"
        (click)="submitStep4()"
      >
        Next
      </button>
    </div>
  </div>
</div>

<!-- Step 5 -->
<div id="step-5" *ngIf="step5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form name="form-2" #f4="ngForm">
        <div class="card">
          <div class="card-header text-center">
            <h3>{{test.name}}</h3>
          </div>
          <div class="card-body">
            <h5 class="card-text">
              Would you like to add more questions to the test?
            </h5>
          </div>
          <div class="card-footer">
            <button class="btn rounded-btn btn-proceed" (click)="newQuestion()">
              Yes
            </button>
            <button class="btn rounded-btn btn-dangerous float-right" (click)="submitTest()">
              No
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
