<div
  *ngIf="phaseSolving"
  [ngStyle]="{ 'background-color': color ? 'antiquewhite' : 'white' }"
  id="background"
>
  <button
    *ngIf="questionCounter != test.questionElements.length; else finishBtn"
    class="btn btn-success"
    style="position: absolute"
    [ngStyle]="{
      left: currentQuestion.btnNextElement.levo * 100 + '%',
      top: currentQuestion.btnNextElement.top * 100 + '%'
    }"
    (click)="nextQuestion()"
  >
    Next
  </button>
  <ng-template #finishBtn>
    <button
      class="btn btn-success"
      style="position: absolute"
      [ngStyle]="{
        left: currentQuestion.btnNextElement.levo * 100 + '%',
        top: currentQuestion.btnNextElement.top * 100 + '%'
      }"
      (click)="finishTest()"
    >
      Finish
    </button>
  </ng-template>
  <button
    *ngIf="questionCounter != 1"
    class="btn btn-success"
    style="position: absolute"
    [ngStyle]="{
      left: currentQuestion.btnPreviousElement.levo * 100 + '%',
      top: currentQuestion.btnPreviousElement.top * 100 + '%'
    }"
    (click)="previousQuestion()"
  >
    Previous
  </button>

  <div
    *ngFor="let te of currentQuestion.textElements; let i = index"
    class="text"
    style="position: absolute"
    [ngStyle]="{
      top: te.top * 100 + '%',
      left: te.levo * 100 + '%'
    }"
  >
    <span
      [ngStyle]="{ 'background-color': color ? 'burlywood' : 'white' }"
      *ngFor="let line of te.textLines"
    >
      {{ line.text }}
      <br />
    </span>
  </div>

  <div *ngFor="let title of currentQuestion.titleElements">
    <div
      class="title"
      style="position: absolute"
      [ngStyle]="{
        top: title.top * 100 + '%',
        left: title.levo * 100 + '%'
      }"
    >
      <h1 [ngStyle]="{ 'background-color': color ? 'burlywood' : 'white' }">
        {{ title.titleText }}
      </h1>
    </div>
  </div>

  <div
    *ngFor="let ae of currentQuestion.answerElements; let i = index"
    class="answer"
    style="position: absolute"
    [ngStyle]="{
      top: ae.top * 100 + '%',
      left: ae.levo * 100 + '%'
    }"
    class="form-check"
  >
    <input
      class="form-check-input answer-field"
      type="checkbox"
      [(ngModel)]="testAnswers[questionCounter - 1].answer[i].givenAnswer"
      id="defaultCheck_'{{ ae.id }}'"
    />
    <label
      class="form-check-label answer-field"
      for="defaultCheck_'{{ ae.id }}'"
    >
      {{ ae.text }}
    </label>
  </div>

  <div
    *ngFor="let textArea of currentQuestion.textAreaElements"
    style="position: absolute"
    [ngStyle]="{
      top: textArea.top * 100 + '%',
      left: textArea.levo * 100 + '%'
    }"
  >
    <textarea
      [rows]="textArea.redova"
      [cols]="textArea.kolona"
      type="text"
      class="form-control"
      [placeholder]="textArea.placeholder"
      [(ngModel)]="testAnswers[questionCounter - 1].answer"
    ></textarea>
  </div>

  <div
    *ngFor="let ie of currentQuestion.imageElements"
    style="position: absolute"
    [ngStyle]="{
      top: ie.top * 100 + '%',
      left: ie.levo * 100 + '%'
    }"
  >
    <img [src]="ie.imgURL" alt="img" />
  </div>
</div>
<div *ngIf="!phaseSolving">
  <br />
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h3>Result - {{ test.name }}</h3>
        </div>
        <div class="card-body text-center">
          <div class="card-text" *ngIf="!wait; else waitTemplate">
            <span class="reportMsg">
              <p>Correct answers</p>
              <span [ngStyle]="{ color: 'limegreen' }">
                {{ simpleReport.correctAnswers }}
              </span>
              / {{ simpleReport.questions }}
            </span>
            <br />
            <div *ngIf="essayQuestionsExist; else noEssayQs">
              <span class="reportMsg">
                <span [ngStyle]="{ color: 'gold' }">
                  {{ simpleReport.essayQuestions }}
                </span>
                question must be manually checked
              </span>
              <hr />
              <span class="reportMsg">
                <p>Max potential success rate</p>
                <p [ngStyle]="{ color: 'dodgerBlue' }">
                  {{
                    ((simpleReport.correctAnswers +
                      simpleReport.essayQuestions) /
                      simpleReport.questions) *
                      100 | number: "1.0-2"
                  }}
                  %
                </p>
              </span>
            </div>
            <ng-template #noEssayQs>
              <hr />
              <span class="reportMsg">
                <p>Success rate</p>
                <p [ngStyle]="{ color: 'dodgerBlue' }">
                  {{
                    (simpleReport.correctAnswers / simpleReport.questions) * 100
                      | number: "1.0-2"
                  }}
                  %
                </p>
              </span>
            </ng-template>
          </div>
          <ng-template #waitTemplate>
            <div class="card-text">
              <span class="reportMsg"> Please wait... </span>
            </div>
          </ng-template>
        </div>
        <div class="card-footer text-center">
          <button
            *ngIf="questionCounter != 1"
            (click)="close()"
            class="btn btn-info"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
