<nav
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light justify-content-between"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Student module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/student/profile')"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/student/tests')"
          >Tests
        </a>
      </li>
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#">Results </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div *ngIf="logged; else other_content">
      <button class="btn rounded-btn" (click)="logout()">Sign out</button>
    </div>
    <ng-template #other_content>
      <button class="btn rounded-btn" type="submit" (click)="login()">
        Log in
      </button>
    </ng-template>
  </form>
</nav>
<!--Navbar end-->
<br />
<div *ngIf="list">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h3>Results</h3>
        </div>
        <div class="card-body">
          <div class="col" *ngFor="let r of results">
            <div class="cell">
              <h5 class="d-inline-block">
                {{ r.testName }} - attempt {{ r.attempt }}
              </h5>
              <button
                (click)="viewReport(r)"
                type="button"
                class="btn rounded-btn float-right"
              >
                Details
              </button>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!list">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h3>Result - {{ report.testName }} - attempt {{ report.attempt }}</h3>
        </div>
        <div class="card-body text-center">
          <div class="card-text">
            <span class="reportMsg">
              <p>Correct answers</p>
              <span [ngStyle]="{ color: 'limegreen' }">
                {{ report.correctAnswers }}
              </span>
              / {{ report.questionsNum }}
            </span>
            <br />
            <div *ngIf="report.essayQuestions != 0; else noEssayQs">
              <span class="reportMsg">
                <span [ngStyle]="{ color: 'DarkOrange' }">
                  {{ report.essayQuestions }}
                </span>
                question must be manually checked
              </span>
              <hr />
              <span class="reportMsg">
                <p>Max potential success rate</p>
                <p [ngStyle]="{ color: 'dodgerBlue' }">
                  {{
                    ((report.correctAnswers + report.essayQuestions) /
                      report.questionsNum) *
                      100 | number: "1.0-2"
                  }}
                  %
                </p>
              </span>
            </div>
            <ng-template #noEssayQs>
              <hr />
              <span class="reportMsg">
                <p>Success rate</p>
                <p [ngStyle]="{ color: 'dodgerBlue' }">
                  {{
                    (report.correctAnswers / report.questionsNum) * 100
                      | number: "1.0-2"
                  }}
                  %
                </p>
              </span>
            </ng-template>
          </div>
        </div>
        <div class="card-footer text-center">
          <button
            *ngIf="questionCounter != 1"
            (click)="back()"
            class="btn rounded-btn"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
