<nav
  *ngIf="view != 'regions'"
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark justify-content-between"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Teacher module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/profile')"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/tests')"
          >Tests
        </a>
      </li>
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#">Results </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div *ngIf="logged; else other_content">
      <button class="btn rounded-btn" (click)="logout()">Sign out</button>
    </div>
    <ng-template #other_content>
      <button class="btn rounded-btn" type="submit" (click)="login()">
        Log in
      </button>
    </ng-template>
  </form>
</nav>
<!-- <nav
  *ngIf="view == 'regions'"
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light justify-content-between"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Student module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="pass($event)"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#">Tests </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="pass($event)">Results </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div *ngIf="logged; else other_content">
      <button class="btn rounded-btn" (click)="pass($event)">Sign out</button>
    </div>
    <ng-template #other_content>
      <button class="btn rounded-btn" type="submit" (click)="pass($event)">
        Log in
      </button>
    </ng-template>
  </form>
</nav> -->
<br />
<div *ngIf="view == 'list'">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center main-heading">
          <h3>Results</h3>
        </div>
        <div class="card-body">
          <div class="col" *ngFor="let r of results; let i = index">
            <div class="cell card-header">
              <h5 class="d-inline-block">
                {{ r.studentIndex }} - {{ r.testName }} - attempt
                {{ r.attempt }}
              </h5>
              <button
                type="button"
                data-toggle="collapse"
                data-target="#collapse_{{ i }}"
                class="btn rounded-btn float-right"
                (click)="collapsed[i] = !collapsed[i]"
              >
                Details
              </button>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              data-parent="#accordionExample"
              [ngbCollapse]="collapsed[i]"
            >
              <div class="card-body text-center">
                <div class="card-text">
                  <span class="reportMsg">
                    <p>Correct answers</p>
                    <span [ngStyle]="{ color: 'limegreen' }">
                      {{ r.correctAnswers }}
                    </span>
                    / {{ r.questionsNum }}
                  </span>
                  <br />
                  <div *ngIf="r.essayQuestions != 0; else noEssayQs">
                    <span class="reportMsg">
                      <span [ngStyle]="{ color: 'DarkOrange' }">
                        {{ r.essayQuestions }}
                      </span>
                      question must be manually checked
                    </span>
                    <hr />
                    <span class="reportMsg">
                      <p>Max potential success rate</p>
                      <p [ngStyle]="{ color: 'dodgerBlue' }">
                        {{
                          ((r.correctAnswers + r.essayQuestions) /
                            r.questionsNum) *
                            100 | number: "1.0-2"
                        }}
                        %
                      </p>
                    </span>
                  </div>
                  <ng-template #noEssayQs>
                    <hr />
                    <span class="reportMsg">
                      <p>Success rate</p>
                      <p [ngStyle]="{ color: 'dodgerBlue' }">
                        {{
                          (r.correctAnswers / r.questionsNum) * 100
                            | number: "1.0-2"
                        }}
                        %
                      </p>
                    </span>
                  </ng-template>
                </div>
              </div>
              <div class="card-footer">
                <!-- <button (click)="viewAnswers(r)" class="btn rounded-btn">
                  Answers
                </button> -->
                <button (click)="getCSVFile(r)" class="btn rounded-btn">
                  Raw data
                </button>
                <button
                  (click)="viewRegions(r)"
                  class="btn rounded-btn float-right"
                >
                  Regions
                </button>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="view == 'answers'">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header text-center main-heading">
          <h3>
            {{ report.studentIndex }} - {{ report.testName }} - attempt
            {{ report.attempt }}
          </h3>
        </div>
        <div class="card-body">
          <div
            class="col"
            *ngFor="let r of answerReport.qreports; let i = index"
          >
            <div *ngIf="r.qtypeId == 1; else essayTemplate">
              <div
                class="cell card-header"
                [ngStyle]="{ color: r.correct ? 'limeGreen' : 'red' }"
              >
                <h6 class="d-inline-block">
                  {{ r.text }}
                </h6>
                <button
                  type="button"
                  data-toggle="collapse"
                  data-target="#qCollapse_{{ i }}"
                  class="btn rounded-btn float-right"
                  (click)="qCollapsed[i] = !qCollapsed[i]"
                >
                  Details
                </button>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                data-parent="#accordionExample"
                [ngbCollapse]="qCollapsed[i]"
              >
                <div class="row text-center">
                  <div class="col-md-6">
                    <P> Correct </P>
                    <hr />
                    <p *ngFor="let ca of r.correctAnswer">
                      {{ ca }}
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p>Answered</p>
                    <hr />
                    <p *ngFor="let a of r.answered">
                      {{ a }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #essayTemplate>
              <div class="cell card-header" [ngStyle]="{ color: 'DarkOrange' }">
                <h6 class="d-inline-block">
                  {{ r.text }}
                </h6>
                <button
                  type="button"
                  data-toggle="collapse"
                  data-target="#qCollapse_{{ i }}"
                  class="btn rounded-btn float-right"
                  (click)="qCollapsed[i] = !qCollapsed[i]"
                >
                  Details
                </button>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                data-parent="#accordionExample"
                [ngbCollapse]="qCollapsed[i]"
              >
                <div class="row text-center">
                  <div class="col-md-12">
                    <p>Answered</p>
                    <hr />
                    <p *ngFor="let a of r.answered">
                      {{ a }}
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
            <div
              id="collapseTwo"
              class="collapse"
              data-parent="#accordionExample"
              [ngbCollapse]="collapsed[i]"
            ></div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button
            *ngIf="questionCounter != 1"
            (click)="back()"
            class="btn rounded-btn"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div [style.visibility]="view == 'regions' ? 'visible' : 'hidden'">
  <div
    [ngStyle]="{ 'background-color': color ? 'antiquewhite' : 'white' }"
    id="background"
  >
    <button
      class="btn btn-success"
      style="position: absolute"
      [ngStyle]="{
        left: currentQuestion.btnNextElement.levo * 100 + '%',
        top: currentQuestion.btnNextElement.top * 100 + '%'
      }"
    >
      Next
    </button>
    <button
      class="btn btn-success"
      style="position: absolute"
      [ngStyle]="{
        left: currentQuestion.btnPreviousElement.levo * 100 + '%',
        top: currentQuestion.btnPreviousElement.top * 100 + '%'
      }"
    >
      Previous
    </button>

    <div
      *ngFor="let te of currentQuestion.textElements; let i = index"
      class="text"
      style="position: absolute"
      [ngStyle]="{
        top: te.top * 100 + '%',
        left: te.levo * 100 + '%'
      }"
    >
      <span
        [ngStyle]="{ 'background-color': color ? 'burlywood' : 'white' }"
        *ngFor="let line of te.textLines"
      >
        {{ line.text }}
        <br />
      </span>
    </div>

    <div *ngFor="let title of currentQuestion.titleElements">
      <div
        class="title"
        style="position: absolute"
        [ngStyle]="{
          top: title.top * 100 + '%',
          left: title.levo * 100 + '%'
        }"
      >
        <h1 [ngStyle]="{ 'background-color': color ? 'burlywood' : 'white' }">
          {{ title.titleText }}
        </h1>
      </div>
    </div>

    <div
      *ngFor="let ae of currentQuestion.answerElements"
      class="answer"
      style="position: absolute"
      [ngStyle]="{
        top: ae.top * 100 + '%',
        left: ae.levo * 100 + '%'
      }"
      class="form-check"
    >
      <input
        class="form-check-input"
        type="checkbox"
        (click)="preventDefault($event)"
      />
      <label class="form-check-label">
        {{ ae.text }}
      </label>
    </div>

    <div
      *ngFor="let textArea of currentQuestion.textAreaElements"
      style="position: absolute"
      [ngStyle]="{
        top: textArea.top * 100 + '%',
        left: textArea.levo * 100 + '%'
      }"
    >
      <textarea
        [rows]="textArea.redova"
        [cols]="textArea.kolona"
        type="text"
        class="form-control"
        [placeholder]="textArea.placeholder"
      ></textarea>
    </div>

    <div
      *ngFor="let ie of currentQuestion.imageElements"
      style="position: absolute"
      [ngStyle]="{
        top: ie.top * 100 + '%',
        left: ie.levo * 100 + '%'
      }"
    >
      <img [src]="ie.imgURL" alt="img" />
    </div>
  </div>
  <canvas #canvas id="canvas" width="0" height="0"> </canvas>

  <div
    class="btn-group"
    role="group"
    style="position: absolute; top: 0%; right: 0%"
    cdkDrag
    cdkDragBoundary="#background"
  >
    <button id="btn-move" type="button" class="btn btn-dark btn-strip">
      &nbsp;&nbsp;&nbsp;
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      (click)="getCSVFile(report)"
    >
      CSV file
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      data-toggle="modal"
      data-target="#regionSequenceModal"
    >
      Region sequence
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      (click)="previousQuestion()"
      [disabled] = "questionNum == 1"
    >
      Previous
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      (click)="nextQuestion()"
      [disabled] = "questionNum == test.questionElements.length - 1"
    >
      Next
    </button>
    <button
      type="button"
      class="btn btn-dark add-btn btn-strip"
      (click)="back()"
    >
      Back
    </button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="regionSequenceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Region sequence - Question {{ questionNum }}
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngFor="let str of regionsSequenceInfo; let i = index">
          Visit {{ i + 1 }}
          <br />
          {{ str }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-btn" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
