@import "./../teacher-test-details/teacher-test-details.component.scss";

#background {
  height: 100vh;
  width: 100vw;
}

#canvas {
  border: 0px;
}

.title {
  padding: 5px;
}

.text {
  padding: 3px;
  font-size: 14pt;
}

.answer {
  padding: 3px;
}

.removeBtn {
  color: red;
  cursor: pointer;
}

#background {
  height: 100vh;
  width: 100vw;
}

#btn-move {
  cursor: move;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.add-btn:active {
  outline: none;
}

.add-btn:focus {
  outline: none;
}

.btn-strip:hover,
.btn-strip:focus,
.btn-strip:active,
.btn-strip:active:focus:not(:disabled):not(.disabled),
.btn-strip:focus,
.btn-strip:active,
.btn-strip:hover {
  box-shadow: none !important;
  outline: 0;
}

.movable {
  cursor: move !important;
}
