<nav
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark justify-content-between"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Teacher module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/tests')"
          >Tests
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/results')"
          >Results
        </a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div *ngIf="logged; else other_content">
      <button class="btn rounded-btn" (click)="logout()">Sign out</button>
    </div>
    <ng-template #other_content>
      <button class="btn rounded-btn" type="submit" (click)="login()">
        Log in
      </button>
    </ng-template>
  </form>
</nav>
<!--Navbar end-->
<br/>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <div class="card"> 
      <div class="card-header text-center">
        <h3>Teacher info</h3>
      </div>
      <div class="card-body">
        Full name: <b>{{ teacher.fullName }}</b>
        <br />
        <br />
        Email: <b>{{ teacher.email }}</b>
        <br />
        <br />
        Display name: <b>{{ teacher.displayName }}</b>
        <br />
        <br />
        Phone number: <b>{{ teacher.phoneNumber }}</b>
        <br />
        <br />
        Created tests: <b>{{ teacher.testsNum }}</b>
      </div>
    </div>
  </div>
</div>
