<div
  [ngStyle]="{ 'background-color': color ? 'antiquewhite' : 'white' }"
  id="background"
>
  <button
    class="btn btn-success"
    style="position: absolute"
    [ngStyle]="{
      left: question.btnNextElement.levo * 100 + '%',
      top: question.btnNextElement.top * 100 + '%'
    }"
  >
    Next
  </button>
  <button
    class="btn btn-success"
    style="position: absolute"
    [ngStyle]="{
      left: question.btnPreviousElement.levo * 100 + '%',
      top: question.btnPreviousElement.top * 100 + '%'
    }"
  >
    Previous
  </button>

  <div
    *ngFor="let te of question.textElements; let i = index"
    class="text"
    style="position: absolute"
    [ngStyle]="{
      top: te.top * 100 + '%',
      left: te.levo * 100 + '%'
    }"
  >
    <span
      [ngStyle]="{ 'background-color': color ? 'burlywood' : 'white' }"
      *ngFor="let line of te.textLines"
    >
      {{ line.text }}
      <br />
    </span>
  </div>

  <div *ngFor="let title of question.titleElements">
    <div
      class="title"
      style="position: absolute"
      [ngStyle]="{
        top: title.top * 100 + '%',
        left: title.levo * 100 + '%'
      }"
    >
      <h1 [ngStyle]="{ 'background-color': color ? 'burlywood' : 'white' }">
        {{ title.titleText }}
      </h1>
    </div>
  </div>

  <div
    *ngFor="let ae of question.answerElements"
    class="answer"
    style="position: absolute"
    [ngStyle]="{
      top: ae.top * 100 + '%',
      left: ae.levo * 100 + '%'
    }"
    class="form-check"
  >
    <input
      class="form-check-input"
      type="checkbox"
      (click)="preventDefault($event)"
    />
    <label class="form-check-label">
      {{ ae.text }}
    </label>
  </div>

  <div
    *ngFor="let textArea of question.textAreaElements"
    style="position: absolute"
    [ngStyle]="{
      top: textArea.top * 100 + '%',
      left: textArea.levo * 100 + '%'
    }"
  >
    <textarea
      [rows]="textArea.redova"
      [cols]="textArea.kolona"
      type="text"
      class="form-control"
      [placeholder]="textArea.placeholder"
    ></textarea>
  </div>

  <div
    *ngFor="let ie of question.imageElements"
    style="position: absolute"
    [ngStyle]="{
      top: ie.top * 100 + '%',
      left: ie.levo * 100 + '%'
    }"
  >
    <img [src]="ie.imgURL" alt="img" />
  </div>

  <canvas #canvas id="canvas" width="0" height="0"> </canvas>

  <div
    class="btn-group"
    role="group"
    style="position: absolute; top: 0%; right: 0%"
    cdkDrag
    cdkDragBoundary="#background"
  >
    <button id="btn-move" type="button" class="btn btn-dark btn-strip">
      &nbsp;&nbsp;&nbsp;
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      (click)="color = !color"
    >
      Color
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      (click)="toggleRegions()"
    >
      Regions
    </button>
    <button
      type="button"
      class="btn btn-dark add-btn btn-strip"
      (click)="back()"
    >
      Back
    </button>
  </div>
</div>
