.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#background {
  height: 100vh;
  width: 100vw;
}

#btn-move {
  cursor: move;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.add-btn:active {
  outline: none;
}

.add-btn:focus {
  outline: none;
}

.btn-strip:hover,
.btn-strip:focus,
.btn-strip:active,
.btn-strip:active:focus:not(:disabled):not(.disabled),
.btn-strip:focus,
.btn-strip:active,
.btn-strip:hover {
  box-shadow: none !important;
  outline: 0;
}

.movable {
    cursor: move !important;
}

.title {
    padding: 5px;
}

.text {
    padding: 3px;
    font-size: 14pt;
}

.answer {
    padding: 3px;
}

.removeBtn {
  color: red;
  cursor: pointer;
}
