<div style="background-color: antiquewhite" class="" id="background">
  <!--
  <div
    style="display: inline-block; background-color: burlywood; z-index: 10"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEnded($event)"
  >
    dasdsafasdfas
    <br />
    fsafdsa
  </div>

  <div
    style="display: inline-block"
    class="form-check"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEnded($event)"
  >
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="c1"
      (click)="preventDefault($event)"
    />
    <label class="form-check-label" for="c1"> Answer text </label>
  </div>
  <h1
    [ngStyle]="{'left': left, top: top}"
    style="position: absolute; display: inline-block; background-color: burlywood; z-index: 10"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEnded($event)"
  >
    Title
  </h1>
  <div
    style="height: 20px; width: 20px; background-color: burlywood; z-index: 10"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEnded($event)"
  ></div>

  <img
    src="assets/eye_logo.png"
    alt="Smiley face"
    width="50"
    height="50"
    style="vertical-align: bottom"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEnded($event)"
  /> 
  
  <div
    style="display: inline-block; background-color: burlywood; z-index: 10"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEnded($event)"
  >
    <button class="btn" disabled>&nbsp;&nbsp;&nbsp;&nbsp;</button>
    <button class="btn btn-primary" (click)="add()">Title</button>
    <button class="btn btn-secondary" (click)="add()">Text</button>
    <button class="btn btn-secondary" (click)="add()">Image</button>
    <button class="btn btn-dark" (click)="add()">Answer</button>
  </div>
  -->
  <div
    class="btn-group"
    role="group"
    style="position: absolute; top: 0%; right: 0%"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEnded($event)"
  >
    <button id="btn-move" type="button" class="btn btn-dark btn-strip">
      &nbsp;&nbsp;&nbsp;
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      data-toggle="modal"
      data-target="#addTitleModal"
      (click)="titleModalView = true"
      [disabled]="titles.length > 0"
    >
      Title
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      data-toggle="modal"
      data-target="#addTextModal"
      (click)="textModalView = true"
    >
      Text
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      data-toggle="modal"
      data-target="#addImageModal"
      (click)="imageModalView = true; chooseImageText = 'Choose image'"
    >
      Image
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      data-toggle="modal"
      data-target="#addAnswerModal"
      (click)="answerModalView = true"
      [disabled]="textAreas.length > 0"
    >
      Answer
    </button>
    <button
      type="button"
      class="btn btn-secondary add-btn btn-strip"
      data-toggle="modal"
      data-target="#addTextAreaModal"
      (click)="textAreaModalView = true"
      [disabled]="answers.length > 0 || textAreas.length > 0"
    >
      Text Area
    </button>
    <button
      type="button"
      class="btn btn-success add-btn btn-strip"
      (click)="finish()"
    >
      Finish
    </button>
  </div>

  <button
    class="btn btn-success movable"
    style="position: absolute; left: 90%; top: 90%"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEndedNext($event)"
  >
    Next
  </button>

  <button
    class="btn btn-success movable"
    style="position: absolute; left: 10%; top: 90%"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEndedPrevious($event)"
  >
    Previous
  </button>

  <div
    *ngFor="let te of texts"
    class="movable text"
    style="position: absolute; z-index: 10"
    [ngStyle]="{
      top: textInitPosTop * 100 + '%',
      left: textInitPosLeft * 100 + '%'
    }"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEndedText($event, te.id)"
    (mouseenter)="show[te.id] = true"
    (mouseleave)="show[te.id] = false"
  >
    <span style="background-color: burlywood" *ngFor="let line of te.lines">
      {{ line }}
      <br />
    </span>
    <div (click)="removeText(te)" *ngIf="show[te.id]" class="removeBtn">X</div>
  </div>

  <div *ngFor="let title of titles">
    <div
      class="movable title"
      style="position: absolute; z-index: 10"
      [ngStyle]="{
        top: titleInitPosTop * 100 + '%',
        left: titleInitPosLeft * 100 + '%'
      }"
      cdkDrag
      cdkDragBoundary="#background"
      (cdkDragEnded)="onDragEndedTitle($event, title.id)"
      (mouseenter)="show[title.id] = true"
      (mouseleave)="show[title.id] = false"
    >
      <h1 style="background-color: burlywood">{{ title.titleText }}</h1>
      <div
        (click)="removeTitle(title)"
        *ngIf="show[title.id]"
        class="removeBtn"
      >
        X
      </div>
    </div>
  </div>

  <div
    *ngFor="let ie of images"
    class="movable"
    style="position: absolute"
    [ngStyle]="{
      top: imgInitPosTop * 100 + '%',
      left: imgInitPosLeft * 100 + '%'
    }"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEndedImage($event, ie.id)"
    (mouseenter)="show[ie.id] = true"
    (mouseleave)="show[ie.id] = false"
  >
    <img [src]="ie.imgURL" alt="img" />
    <div (click)="removeImage(ie)" *ngIf="show[ie.id]" class="removeBtn">X</div>
  </div>

  <div
    *ngFor="let ae of answers"
    class="movable answer"
    style="position: absolute"
    [ngStyle]="{
      top: answerInitPosTop * 100 + '%',
      left: answerInitPosLeft * 100 + '%'
    }"
    class="form-check"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEndedAnswer($event, ae.id)"
    (mouseenter)="show[ae.id] = true"
    (mouseleave)="show[ae.id] = false"
  >
    <input
      class="form-check-input movable"
      type="checkbox"
      value=""
      (click)="preventDefault($event)"
    />
    <label
      [ngStyle]="{ color: ae.correct ? 'limeGreen' : 'red' }"
      class="form-check-label movable"
    >
      {{ ae.text }}
    </label>
    <div (click)="removeAnswer(ae)" *ngIf="show[ae.id]" class="removeBtn">
      X
    </div>
  </div>
  <div
    *ngFor="let textArea of textAreas"
    style="position: absolute"
    [ngStyle]="{
      top: textAreaInitPosTop * 100 + '%',
      left: textAreaInitPosLeft * 100 + '%'
    }"
    cdkDrag
    cdkDragBoundary="#background"
    (cdkDragEnded)="onDragEndedTextArea($event, textArea.id)"
    (mouseenter)="show[textArea.id] = true"
    (mouseleave)="show[textArea.id] = false"
  >
    <textarea
      [rows]="textArea.redova"
      [cols]="textArea.kolona"
      type="text"
      class="form-control movable"
      [placeholder]="textArea.placeholder"
      (click)="preventDefault($event)"
      readonly
    ></textarea>
    <div
      (click)="removeTextArea(textArea)"
      *ngIf="show[textArea.id]"
      class="removeBtn"
    >
      X
    </div>
  </div>
</div>
<!-- Add title modal-->
<div
  *ngIf="titleModalView"
  class="modal fade"
  #addTitleModal
  id="addTitleModal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New title</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="mfTitle" #mfTitle="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="questionTitle"
              name="questionTitle"
              #questionTitle="ngModel"
              placeholder="Enter question title"
              [(ngModel)]="titleEl.titleText"
              required
            />
            <div
              *ngIf="
                questionTitle.invalid &&
                (questionTitle.dirty || questionTitle.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="questionTitle.errors.required">Required</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            [disabled]="!mfTitle.valid"
            id="addTitleBtn"
            type="submit"
            (click)="addTitle(mfTitle)"
            class="btn btn-success"
            data-dismiss="modal"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add text modal-->
<div
  *ngIf="textModalView"
  class="modal fade"
  #addTextModal
  id="addTextModal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New text</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="mfText" #mfText="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <textarea
              rows="5"
              type="text"
              class="form-control"
              id="questionText"
              name="questionText"
              #questionText="ngModel"
              placeholder="Enter question text"
              [(ngModel)]="questionTxt"
              required
            ></textarea>
            <div
              *ngIf="
                questionText.invalid &&
                (questionText.dirty || questionText.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="questionText.errors.required">Required</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            [disabled]="!mfText.valid"
            id="addTextBtn"
            type="submit"
            (click)="addText(mfText)"
            class="btn btn-success"
            data-dismiss="modal"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add answer modal-->
<div
  *ngIf="answerModalView"
  class="modal fade"
  #addAnswerModal
  id="addAnswerModal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Answer</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="mfAnswer" #mfAnswer="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="questionAnswer"
              name="questionAnswer"
              #questionAnswer="ngModel"
              placeholder="Enter answer text"
              [(ngModel)]="answerElement.text"
              required
            />
            <div
              *ngIf="
                questionAnswer.invalid &&
                (questionAnswer.dirty || questionAnswer.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="questionAnswer.errors.required">Required</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2">Correct</div>
            <div class="col-md-2">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="correctCB"
                  id="correctCB"
                  #correctCB="ngModel"
                  [(ngModel)]="answerElement.correct"
                />
                <label for="correctCB" class="custom-control-label"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            [disabled]="!mfAnswer.valid"
            id="addAnswerBtn"
            type="submit"
            (click)="addAnswer(mfAnswer)"
            class="btn btn-success"
            data-dismiss="modal"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add image modal-->
<div
  *ngIf="imageModalView"
  class="modal fade"
  #addImageModal
  id="addImageModal"
  tabindex="-1"
  role="dialog"
  (onHidden)="afterHidden($event)"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalTitle">New image</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="mfImage" #mfImage="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <input
              type="file"
              accept="image/*"
              class="custom-file-input form-control"
              id="newImage"
              name="newImage"
              #selectImage
              placeholder="Choose image"
              (change)="chosenImage($event)"
              required
            />
            <label class="custom-file-label" for="customFile">{{
              chooseImageText
            }}</label>
          </div>
          <img
            [src]="imageElement.imgURL"
            width="300"
            *ngIf="imageElement.imgURL"
          />
        </div>
        <div class="modal-footer">
          <button
            [disabled]="chooseImageText == 'Choose image'"
            id="addImageBtn"
            type="submit"
            (click)="addImage(mfImage)"
            class="btn btn-success"
            data-dismiss="modal"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add text area modal-->
<div
  *ngIf="textAreaModalView"
  class="modal fade"
  #addTextAreaModal
  id="addTextAreaModal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="textAreaModalTitle">New text area</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="mfTextArea" #mfTextArea="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="questionTitle">* Placeholder</label>
            <input
              type="text"
              class="form-control"
              id="placeholder"
              name="placeholder"
              #placeholder="ngModel"
              placeholder="Enter placeholder"
              [(ngModel)]="textAreaElement.placeholder"
              required
            />
            <div
              *ngIf="
                placeholder.invalid &&
                (placeholder.dirty || placeholder.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="placeholder.errors.required">Required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="rows">* Rows </label>
            <input
              type="number"
              class="form-control"
              id="rows"
              name="rows"
              #rows="ngModel"
              placeholder="Enter number of rows"
              pattern="[1-9][0-9]*"
              min="1"
              step="1"
              [(ngModel)]="textAreaElement.redova"
              required
            />
            <div
              *ngIf="rows.invalid && (rows.dirty || rows.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="rows.errors.required">Number of rows is required</div>
              <div *ngIf="rows.errors.pattern">
                Number of rows must be positive integer
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cols">* Columns </label>
            <input
              type="number"
              class="form-control"
              id="cols"
              name="cols"
              #cols="ngModel"
              placeholder="Enter columns"
              pattern="[1-9][0-9]*"
              min="1"
              step="1"
              [(ngModel)]="textAreaElement.kolona"
              required
            />
            <div
              *ngIf="cols.invalid && (cols.dirty || cols.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="cols.errors.required">
                Number of columns is required
              </div>
              <div *ngIf="cols.errors.pattern">
                Number of columns must be positive integer
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            [disabled]="!mfTextArea.valid"
            id="addTextAreaBtn"
            type="submit"
            (click)="addTextArea(mfTextArea)"
            class="btn btn-success"
            data-dismiss="modal"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
