<nav
  class="navbar-default navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark justify-content-between"
>
  <a class="navbar-brand" href="#" (click)="pass($event)">
    <img
      src="assets/eye_logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Teacher module
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/profile')"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" (click)="pass($event)">
        <a class="nav-link" href="#">Tests </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigate('/teacher/results')"
          >Results
        </a>
      </li>
    </ul>
  </div>
  <button class="btn rounded-btn" (click)="logout()">Sign out</button>
</nav>
<!--Navbar end-->
<!-- <button class="btn btn-info">Redraw</button> -->
<br />
<div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form name="form-2" #f4="ngForm">
        <div class="card">
          <div class="card-header text-center">
            <h3>Test name</h3>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Question X</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <br />
            <div class="card-text">
              <div class="form-group row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                  <label class="form-check-label" for="defaultCheck1">
                    a) First answer
                  </label>
                </div>
              </div>
            </div>
            <br />
            <div class="card-text">
              <div class="form-group row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck2"
                  />
                  <label class="form-check-label" for="defaultCheck2">
                    b) Second answer
                  </label>
                </div>
              </div>
            </div>
            <br />
            <div class="card-text">
              <div class="form-group row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck3"
                  />
                  <label class="form-check-label" for="defaultCheck3">
                    c) Third answer
                  </label>
                </div>
              </div>
            </div>
            <br />
            <div class="card-text">
              <div class="form-group row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck4"
                  />
                  <label class="form-check-label" for="defaultCheck4">
                    d) Fourth answer
                  </label>
                </div>
              </div>
            </div>
            <br />
            <div class="card-text">
              <div class="form-group row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck5"
                  />
                  <label class="form-check-label" for="defaultCheck5">
                    e) Fifth answer
                  </label>
                </div>
              </div>
            </div>
            <br />
            <div class="card-text">
              <div class="form-group row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck6"
                  />
                  <label class="form-check-label" for="defaultCheck6">
                    f) Sixth answer
                  </label>
                </div>
              </div>
            </div>
            <br />
            <div class="card-text">
              <div class="form-group row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck7"
                  />
                  <label class="form-check-label" for="defaultCheck7">
                    g) Seventh answer
                  </label>
                </div>
              </div>
            </div>
            <br />
            <div class="card-text">
              <div class="form-group row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck8"
                  />
                  <label class="form-check-label" for="defaultCheck8">
                    f) Eighth answer
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn rounded-btn btn-proceed">
              Previous
            </button>
            <button class="btn rounded-btn btn-proceed float-right">
              Next
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <canvas
    #canvas
    id="canvas"
    width="0"
    height="0"
    (mousedown)="canvas_click($event)"
    (mouseup)="canvas_released($event)"
    (mousemove)="canvas_move($event)"
    (mouseleave)="canvas_leave()"
  >
  </canvas>
  <div class="row buttons">
    <div class="col-md-4 offset-md-4">
      <button
        class="btn rounded-btn btn-dangerous"
        type="button"
        (click)="removeAllRegions()"
      >
        Remove all
      </button>
      &nbsp;&nbsp;&nbsp;
      <button
        class="btn rounded-btn btn-dangerous"
        type="button"
        (click)="removeLastRegion()"
      >
        Remove last
      </button>
      <button
        class="btn rounded-btn btn-proceed float-right"
        type="button"
        (click)="nextRegions()"
      >
        Next
      </button>
    </div>
  </div>
</div>
