<div style="background-color: antiquewhite" class="" id="background">
  <button
    class="btn btn-success"
    style="position: absolute"
    [ngStyle]="{
      left: btnNext.levo * 100 + '%',
      top: btnNext.top * 100 + '%'
    }"
  >
    Next
  </button>

  <button
    class="btn btn-success"
    style="position: absolute"
    [ngStyle]="{
      left: btnPrevious.levo * 100 + '%',
      top: btnPrevious.top * 100 + '%'
    }"
  >
    Previous
  </button>

  <div
    *ngFor="let te of texts; let i = index"
    class="text"
    style="position: absolute"
    [ngStyle]="{
      top: te.top * 100 + '%',
      left: te.levo * 100 + '%'
    }"
  >
    <span style="background-color: burlywood" *ngFor="let line of te.lines">
      {{ line }}
      <br />
    </span>
  </div>

  <div *ngFor="let title of titles">
    <div
      class="title"
      style="position: absolute"
      [ngStyle]="{
        top: title.top * 100 + '%',
        left: title.levo * 100 + '%'
      }"
    >
      <h1 style="background-color: burlywood">{{ title.titleText }}</h1>
    </div>
  </div>

  <div
    *ngFor="let ae of answers"
    class="answer"
    style="position: absolute"
    [ngStyle]="{
      top: ae.top * 100 + '%',
      left: ae.levo * 100 + '%'
    }"
    class="form-check"
  >
    <input
      class="form-check-input"
      type="checkbox"
      (click)="preventDefault($event)"
    />
    <label class="form-check-label">
      {{ ae.text }}
    </label>
  </div>

  <div
    *ngFor="let textArea of textAreas"
    style="position: absolute"
    [ngStyle]="{
      top: textArea.top * 100 + '%',
      left: textArea.levo * 100 + '%'
    }"
  >
    <textarea
      [rows]="textArea.redova"
      [cols]="textArea.kolona"
      type="text"
      class="form-control"
      [placeholder]="textArea.placeholder"
    ></textarea>
  </div>

  <div
    *ngFor="let ie of images"
    style="position: absolute"
    [ngStyle]="{
      top: ie.top * 100 + '%',
      left: ie.levo * 100 + '%'
    }"
  >
    <img [src]="ie.imgURL" alt="img" />
  </div>

  <canvas
    #canvas
    id="canvas"
    width="0"
    height="0"
    (mousedown)="canvas_click($event)"
    (mouseup)="canvas_released($event)"
    (mousemove)="canvas_move($event)"
    (mouseleave)="canvas_leave()"
  >
  </canvas>
  <div
    class="btn-group"
    role="group"
    style="position: absolute; top: 0%; right: 0%"
    cdkDrag
    cdkDragBoundary="#background"
  >
    <button id="btn-move" type="button" class="btn btn-dark btn-strip">
      &nbsp;&nbsp;&nbsp;
    </button>
    <div class="dropdown">
      <button
        class="btn add-btn btn-strip btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
      >
        Remove
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item" (click)="removeLastRegion()">Last</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="removeAllRegions()">All</button>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-success add-btn btn-strip"
      data-toggle="modal"
      data-target="#moreModal"
      (click)="finish()"
    >
      Finish
    </button>
  </div>
</div>

<div class="modal fade" #moreModal id="moreModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modeal">Finished?</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="moreModal" #moreModal="ngForm">
        <div class="modal-body">
          <h5 class="card-text">
            Would you like to add more questions to this test?
          </h5>
        </div>
        <div class="modal-footer">
          <button
            id="noMoreBtn"
            type="button"
            (click)="submitTest()"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            No
          </button>
          <button
            id="addMoreBtn"
            type="button"
            (click)="newQuestion()"
            class="btn btn-success"
            data-dismiss="modal"
          >
            Yes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
